[user]
	name = sbussetti
	email = sbussetti@freelancersunion.org

[alias]
	co = checkout
	stat = status
	cm = commit
    br = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    tagrev = show-ref --tags
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
