[user]
  name = sbussetti
  email = steve.bussetti@gmail.com

[alias]
  co = checkout
  cob = checkout -b
  stat = status
  st = status
  c = commit
  ca = commit -a
  caa = commit -a --amend
  cm = commit -m
  cam = commit -am
  b = branch
  br = branch -r
  bra = branch -ra
  cp = cherry-pick
  f = fetch
  pu = push
  puf = push -f
  put = push --tags
  r = remote
  rv = remote -v
  pl = pull

  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  relog = log --no-merges --pretty=format:'%h | %ad | %s%d [%an]' --abbrev-commit --date=short
  tagref = show-ref --tags
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  taghist = log --pretty=format:'%h %ad | %s%d [%an]' --tags --no-walk --date=short

  ec = config --global -e
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
  lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  dl = "!git ll -1"
  dlc = diff --cached HEAD^

[diff]
  tool = fugitive
[difftool]
  prompt = false
[difftool "fugitive"]
  cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[merge]
  tool = fugitive
[mergetool]
  prompt = false
[mergetool "fugitive"]
  cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[color]
  ui = true
[push]
  default = matching
[core]
  precomposeunicode = true
